/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap');

body {
    font-family: "Fira Mono", monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F5F5F0; /* #282a2 Single color background */
    color: #333 ; /* #ffffff Light text color */
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background: #F5F5F0; /* #282a2e; */
    color: #333 ; /*#ffffff; */
    text-align: center;
    padding-top: 10px;
    min-height: 70px;
}

header a {
    color: #333 /*#ffffff;*/
    text-decoration: none;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

header li {
    display: inline;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

main {
    padding: 20px 0;
}

/* Style des blocs */
.block {
    width: 100%;
    margin: 0 auto;
    /*border: 2px solid black;*/
}

/* Style du texte */


/* Images */
.block img {
    max-width: 40%;  /* Empêche l'image de dépasser le div */
    height: auto;      /* Garde les proportions */
    display: block;    /* Évite l'espace blanc sous l'image */

}

footer {
    background: #F5F5F0 ; /*#282a2e;*/
    color: #333 ; /*#ffffff;*/
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

a {
    color: #333 ; /*#ffffff;*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
