/* Updated styles.css */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap');

body {
    font-family: "Fira Mono", monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F5F5F0;
    color: #333;
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background: #F5F5F0;
    color: #333;
    text-align: center;
    padding-top: 10px;
    min-height: 70px;
}

header a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

header li {
    display: inline;
    padding: 0 20px;
}

main {
    padding: 20px 0;
}

/* Style des blocs de session */
.session {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.text-content {
    flex: 1;
    max-width: 55%;
}

.session-number {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
}

.session-title {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.image-content {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
}

.image-content img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
